<%- include('partials/_header') %>


<div class="col-md-4 offset-md-3">
    <div class="card">
        <div class="card-body">
            <form action="/edit/<%= usuario._id %>" method="POST">
                <div class="form-group">
                    <input type="number" name="id" placeholder="Inserta un id" class="form-control mb-4" value="<%= usuario.id %>" required>                            
                </div>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Inserta un nombre" class="form-control mb-4" value="<%= usuario.name %>" required>                            
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" placeholder="Inserta apellidos" class="form-control mb-4" value="<%= usuario.lastname %>" required>                            
                </div>
                <div class="form-group">
                    <input type="number" name="age" min="1" max="100" placeholder="Inserta tu edad" class="form-control mb-4" value="<%= usuario.age %>" required>                            
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Inserta tu email" class="form-control mb-4" value="<%= usuario.email %>" required>                            
                </div>
                <div class="form-group">
                    <label for="inputState">Active</label>
                    <select name="active" class="form-control mb-4"  value="<%= usuario.active %>" required>
                      <option value="true" selected>True</option>
                      <option value="false">False</option> 
                    </select>                           
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Editar</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>
