    
<%- include('partials/_header') %>
    


    <div class="container">
        <div class="row">
            <!-- form-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST">
                            <div class="form-group">
                                <input type="number" name="id" placeholder="Inserta un id" class="form-control mb-4" required>                            
                            </div>
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Inserta un nombre" class="form-control mb-4" required>                            
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname" placeholder="Inserta apellidos" class="form-control mb-4" required>                            
                            </div>
                            <div class="form-group">
                                <input type="number" name="age" min="1" max="100" placeholder="Inserta tu edad" class="form-control mb-4" required>                            
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Inserta tu email" class="form-control mb-4" required>                            
                            </div>
                            <div class="form-group">
                                <label for="inputState">Active</label>
                                <select name="active" class="form-control mb-4" required>
                                  <option value="true" selected>True</option>
                                  <option value="false">False</option> 
                                </select>                           
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- list-->
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Last name</th>
                            <th>age</th>
                            <th>email</th>
                            <th>active</th>
                            <th>operacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < usuarios.length; i++){  %>
                            <tr>
                                <td><%= usuarios[i].id %></td>
                                <td><%= usuarios[i].name %></td>
                                <td><%= usuarios[i].lastname %></td>
                                <td><%= usuarios[i].age %></td>
                                <td><%= usuarios[i].email %></td>
                                <td><%= usuarios[i].active %></td>
                                <td>
                                <a href="/show/<%= usuarios[i]._id%>" class="btn btn-secondary">Ver</a>
                                <a href="/edit/<%= usuarios[i]._id%>" class="btn btn-info">Editar</a>
                                <a href="/delete/<%= usuarios[i].id%>" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                            
                        <%} %>
                    
                    </tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

<%- include('partials/_footer') %>
