<%- include('partials/_header') %>

<div class="col-md-4 offset-md-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
                <div class="">
                    <p class="card-text mb-4"  ><%= usuario.id %></p>                           
                </div>
                <div class="">
                    <p class="card-text mb-4" ><%= usuario.name %></p>                      
                </div>
                <div class="">
                    <p class="card-text mb-4" ><%= usuario.lastname %></p>                        
                </div>
                <div class="">
                    <p class="card-text mb-4"><%= usuario.age %></p>                      
                </div>
                <div class="">
                    <p class="card-text mb-4" ><%= usuario.email %>  </p>                         
                </div>
                <div class="">
                    <p class="card-text mb-4" ><%= usuario.active %></p>                
                </div>

                <a href="/" class="btn btn-secondary mb-4">Inicio</a>
        </div>
    </div>
</div>





<%- include('partials/_footer') %>
